html, body {
    height: 100%;
    margin: 0;
    font-size: 48px;
    background-color: lightpink;
}

#calc-body {
    border: 1px solid black;
    width: 15em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#calc-screen {
    height: 2.2em;
    background-color: whitesmoke;
    padding-top: 1em;
    padding-bottom: 0.5em;
    display: flex;
    justify-content: center;
}

#calc-screen-text {
    width: 85%;
    font-size: 1.5em;
}

#calc-buttons {
    padding: 0.5em;
    padding-top: 1em;
    background-color: whitesmoke;
}

.button-row {
    background-color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

button {
    margin: 0.1em;
    font-size: 1.5em;
    height: 100%;
    color: black;
    width: 20%;
}

.active {
    background-color: gray;
}

.doubleButton {
    width: 40%;
}

.rightRow {
    display: flex;
    justify-content: right;
    margin: 0;
    padding-right: 0.3em;
}